html {scroll-behavior: smooth;}

body{padding-top: 120px;  position: relative; overflow-x: hidden;}

.navbar{
    height: 120px !important;
    background-color: #343A40;
    transition: 1s;
}

.navbar .navbar-brand > img{width: 100px;transition: 1s}

.navbar-nav li:hover,
.navbar-nav li a.active
{background-color: rgba(0,0,0,.1); color: rgba(0,0,0,.1)}

.carousel, .item, .active {
    height:100%;
}
.carousel-inner {
    height:100%;
}
.carousel {
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    background-color: #777;
}
.carousel .carousel-inner .bg {
    background-repeat:no-repeat;
    background-size:cover;
}
.carousel .carousel-inner .bg1 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg');
    background-position: center top;
}
.carousel .carousel-inner .bg2 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
    background-position: center center;
}
.carousel .carousel-inner .bg3 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg');
    background-position: center bottom;
}

.padding-menu{
    padding-top: 150px;
}

footer ul.redes a{
    color: rgb(9, 218, 9);

}

footer .redesSociais a{
    transition: color .5s;
    margin: 0 5px
}
footer ul.redesSociais a:hover{
    color: #29A745;
}

.section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-header{
    font-size:36px;
    padding-top: 21px;
    padding-bottom: 28px;
    color: #28A745;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 2px 1px #666;
    border-bottom: 1px solid #666;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}
#btnNewsLetter{
    cursor: pointer;
    background-color: #28a745;
    border: 1px solid #ced4da;
    color: white;
}

#sobre {
    background-color: #fafafa;
}

/* Section sobre */

#sobre ul.nav{
    display: block;
    border: 0px;
}

#sobre ul.nav li{
    border-left: 3px solid #ccc;
    transition: 0.5s;
}

#sobre ul li a{
    color: #000000;
}

#sobre ul li a.active,
#sobre ul li a:hover
{
    border: 0px;
    color: #2A8541;
    margin-left: -3px;
    border-left: 3px solid #2A8541;
    background-color: transparent;
}

#sobre ul.nav li:hover{
    border-left: 3px solid #2A8541;
    transition: 0.5s;
}

#produtos {
    background-color: #fafafa;
}

/* mobile */
@media only screen and (max-width: 767px) {
    .navbar-collapse {
        background-color: #343A40;
        transition: 1s;
        text-align: center;
        position:absolute;
        min-height: calc(100vh - 80);
        width: 100vw;
        top:120px;
        left: 0px
    }
}
