/* header logo */
.col-logo{background-color: #353942;}
.col-form footer {padding: 15px 30px 15px !important;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header{padding-bottom: 0px;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{margin-top: 25px;}
.main-header.dark-bg {background: #202020;}
.main-header .logo.dark-bg {background: #2A2A2A;}
.main-header.dark-bg .navbar-custom-menu ul.navbar-nav li.dropdown a:hover{background: #333;}
.main-header.dark-bg .nav .open > a, .dark-bg .nav .open > a:focus, .dark-bg.nav .open > a:hover{background: #333}
.main-header .sidebar-toggle::before {content: none !important;}
.sidebar-toggle{margin-top: 1px;}
.classePadding{padding:10px}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo{color:#fff}
}
.user-panel > .info {margin-top: 11px;}
.btn-group-xs > .btn, .btn-xs {padding: 1px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;}
.btn-group-sm > .btn, .btn-sm {padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;}
.form-control:focus {outline: none;box-shadow:none !important;border:1px solid #ccc !important;}


/* custom */
.mt-1{margin-top: 7px;}
.mt-2{margin-top: 14px;}
.mb-1{margin-bottom: 7px;}
.mb-2{margin-bottom: 14px;}
.ml-1{margin-left: 7px;}
.ml-2{margin-left: 14px;}
.mr-1{margin-right: 7px;}
.mr-2{margin-right: 14px;}

table > thead > tr > th{text-transform: uppercase; !important}
label{text-transform: uppercase; font-size: 11px;}
textarea{resize: vertical;}

.navbar-nav > li > a{color: #fff !important;}

.classeButton{
    margin-right: 10px;
}
